.ArticlesContainer {
  height: 83%;
  overflow: scroll;
  border-color: black;
  border-radius: 10px;
  border-style: double;
  background-color: black;
 width: 95%;
}

.headingAndArticles {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}