.topicHeadingBox {
background-color: rgb(00, 00, 00, 0.6);
 flex: 1 1 5.5vh;
 margin: 1.5vw;
 padding: 3vw;
 border-radius: 10px;
}

.topicHeading {
  color: white;
  text-shadow: 1px 1px 0 rgb(184, 6, 6), -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: underline;
  margin: 5px 0px;
  font-size: 4vw;
}

.writeAnArticleButton {
background-color: rgb(184, 6, 6);
border-style: double;
border-color: white;
font-size: 2vw;
color: white;
text-shadow: 1px 1px 0 rgb(184, 6, 6), -1px -1px 0 #000, 1px -1px 0 #000,
  -1px 1px 0 #000, 1px 1px 0 #000;
  border-radius: 10px;
  margin-top: 5px;
transition: 0.2s;
}

.writeAnArticleButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}