.App {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-gap: 0.5vw;
  grid-template-columns: 15% auto auto;
  grid-template-rows: auto auto auto auto;
  height: 100vh;
  min-width: 580px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.HeadingBar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 15vh;
}

.TopicSelector {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 78vh;
}

.mainBody {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: rgb(184, 6, 6);
  border-radius: 10px;
  border-color: black;
  border-style: double;
  height: 78vh;
}

.loading {
height: 50%;
width: 50%;
margin: 40px auto;
}

.loadingImg {
 width: 100%;
 margin: auto;
}
@media (max-width: 1000px) {
  .App {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% auto;
    height: 100vh;
  }
  .HeadingBar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 15vh;
    width: 95%;
    margin: auto;
  }
  .TopicSelector {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 15vh;
    width: 95%;
    margin: auto;
  }
  .mainBody {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgb(184, 6, 6);
    border-radius: 10px;
    border-color: black;
    border-style: double;
    height: 55vh;
    width: 95%;
    margin: auto;
  }
}
