.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 10fr;
  grid-template-areas:
   'HeadingBar HeadingBar' 
   'TopicSelector mainBody'
  ;
}

img {
  max-height: 100%;
  max-width: 5%;
  display: inline-block;
  vertical-align: middle;
}

form {
  display: inline-block;
  vertical-align: middle;
}

.HeadingBar {
  grid-area: HeadingBar;
  border: 3px red solid;
  vertical-align: middle;
}

.TopicSelector {
  grid-area: TopicSelector;
  border: 3px blue solid;
}

.mainBody {
  grid-area: mainBody;
  border: solid 3px yellow;
}

.topicLink {
  border: green solid 3px;
}


/* Reach Router embeds components in a div. This wont inherit the grid references. To overcome this, we can pass a className to the router and then style it appropriately. */
