.articleMini {
  flex: 1 1 5.5vh;
  border-color: black;
  border-style: double;
  border-radius: 10px;
  text-align: center;
  margin: 1.5vw;
  background-color: lightgray;
  font-size: 1.9vh;
}

.topicName {
  display: inline-block;
  margin: 5px 1.5vw;
}

.author {
  display: inline-block;
  margin: 15px 1.5vw;
  transition: 0.2s;
}

.commentcount {
  display: inline-block;
  margin: 15px 1.5vw;
}

.votecount {
  display: inline-block;
  margin: 15px 1.5vw;
}

.usernameOnArticleMini {
  color: white;
  text-shadow: 1px 1px 0 rgb(184, 6, 6), -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.author:hover {
  transform: scale(1.2);
}

.articleTitle {
  display: block;
  text-decoration: underline;
  font-size: 2.5vh;
  color: rgb(184, 6, 6);
  text-shadow: 0.3px 0.3px 0 black, -0.3px -0.3px 0 #000, 0.3px -0.3px 0 #000,
    -0.3px 0.3px 0 #000, 0.3px 0.3px 0 #000;
  font-weight: normal;
  background-color: white;
  width: 50%;
  margin: auto;
  border-color: black;
  border-style: double;
  border-radius: 10px;
  padding: 0.5vw;
  transition: 0.2s;
}

.articleTitle:hover {
  transform: scale(1.2);
}

.articleBody {
  background-color: white;
  border-color: black;
  border-style: double;
  width: 90%;
  margin: auto;
  padding: 1.5vh;
  font-size: 2.5vh;
}

