.ArticlesContainer {
  height: 83%;
  overflow: scroll;
  border-color: black;
  border-radius: 10px;
  border-style: double;
  background-color: black;
  width: 95%;
}

.headingAndArticles {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (max-width: 1273px) { 
  .headingAndArticles {
    flex-direction: column;
    justify-content: flex-start;
  }
  .ArticlesContainer {
    height: 90%;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(184, 6, 6, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}