.TopicSelector {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 2.7vh;
  background-color: rgb(184, 6, 6);
  border-radius: 10px;
  border-style: double;
  border-color: black;
}

.topicTitle {
  color: white;
  text-shadow: 1px 1px 0 rgb(184, 6, 6), -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: underline;
}

.topicLink {
  flex: 1 1 5.5vh;
  border-style: double;
  border-color: white;
  min-width: 80%;
  padding-top: 10px;
  margin: 1vw;
  color: white;
  text-shadow: 1px 1px 0 rgb(184, 6, 6), -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  transition: 0.2s;
}

.topicLink:hover {
  transform: scale(1.1);
}

.topicBarNav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

@media (max-width: 1273px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  .topicBarNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    width: 80%;
    overflow: scroll;
    scroll-behavior: smooth
  }
  .topicLink {
    margin: 1vw 40px;
    font-size: 2.5vh;
    padding-top: 10px;
  }
  .topicTitle {
    margin-left: 4px;
    font-size: 3vh;
  }
}
